{% extends "main.html" %}
{% block content %}

  <section class="section has-text-centered" style="background-color: coral;">
    <div class="container" >
            <div class="field">
                    <label class="label"style="font-size:7vh">Link</label>
                    <div class="control"></div>
                      <a href="{{ link1.links}}" class="title are-medium" style="color: blue; font-size: 2vh;">{{ link1.links}}</a>
                    
                    </div>
                    
                    <a href="/"><button class="button is-black" style="margin-bottom: 10vh;">Powrót do strony głównej</button></a>
            </div>
    </div>
  </section>


{% endblock content %}